/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

ul,
li,
h3 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input,
button {
  outline: none;
}

.button {
  width: 60px;
  border: 0px;
  font-size: 15px;
  color: #888;
  background: none;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* header */
.header {
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: cursive, fantasy;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

/* main */
.app__section {
  margin: 30px 0;
}

.section__title {
  padding-bottom: 10px;
  border-bottom: 2px solid #333;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
}

.task__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 20px 0;
}

.task__checkbox {
  margin: 0 10px;
}

.task__text,
.input__text {
  flex: 1;
}

.task__text {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.input__text {
  display: inline-block;
  height: 21px;
  padding: 0 9px;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #888;
  background: #fff;
}

.input__text:focus {
  color: #333;
}

.button-delete {
  height: 2em;
  background: url(./remove.svg) no-repeat center;
  background-size: contain;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button-delete:hover {
  transform: rotateZ(0);
}

.section__todo .task__item {
  border-bottom: 1px solid #eee;
}

.task__item:not(.edit) .task__input-text {
  display: none;
}

.task__item.edit .task__text {
  display: none;
}

.section__completed .task__text {
  text-decoration: line-through;
  color: #888;
}
